# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
/media/

# VS Code
.vscode/

# Virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env

# Mac
.DS_Store
